<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.appsm.inapphelp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name="ru.appsm.inapphelp.activities.HomeActivity"
            android:label="@string/iah_app_name" android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="ru.appsm.inapphelp.ShowHelp"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="ru.appsm.inapphelp.activities.NewIssueActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity
            android:name="ru.appsm.inapphelp.activities.NewUserActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity
            android:name="ru.appsm.inapphelp.activities.IssueDetailActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity
            android:name="ru.appsm.inapphelp.activities.ArticleActivity"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity
            android:name="ru.appsm.inapphelp.activities.SectionActivity"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity
            android:name="ru.appsm.inapphelp.activities.ImageAttachmentDisplayActivity"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity
            android:name="ru.appsm.inapphelp.activities.EditAttachmentActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait">
        </activity>

        <receiver
            android:name="ru.appsm.inapphelp.service.AttachmentDownloadReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
